html, body, h1, h2, h3, h4, h5, h6, header, footer, div, span, section,
p, label, input, form, img, caption, button, aside, ul, ol, li, tr, td,
th, a, dl, dt, dd, nav, time {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  box-sizing: inherit;
  font-family: inherit;
  text-decoration: inherit;
  vertical-align: baseline;
  background: transparent;
  list-style-type: none;
}

/* Main */

.main {
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  margin: 0 20px;
}

/* NavBar */

.nav-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 20px;
    border-bottom: 1px solid gray;
    text-decoration: none;
}

.home h1 {
  color: rgb(190, 61, 61);
}

.links {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.links div {
  color: black;
  padding: 5px;
}

.links div:hover {
  color: grey;
  transition: 0.3s;
}

/* Landing Page */

.landing-page {
  margin: auto;
}

.landing-page h1 {
  text-align: center;
  padding: 10px;
}

.landing-page ul {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  padding: 10px 10px 10px 15px;
  width: 100%;
}

.animal-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px solid black;
  padding: 20px;
  width: 200px;
  height: 300px;
  margin: 15px;
  box-shadow: 0px 30px 70px -30px #a8a6a5;
  background-color: rgba(228, 228, 228, 0.568);
}

.animal-card:hover {
  box-shadow: 0px 30px 70px -30px #777675;
}

.item-name {
  color: black;
  font-size: 20px;
  padding: 5px;
}

.item-name:hover {
  color: grey;
}

.item-price {
  padding: 5px;
  color: blue;
}

.strikeout {
  color: red;
  text-decoration: line-through;
}

.discount-price {
  color: blue;
  text-decoration: none;
}

.add-to-cart-btn {
  cursor: pointer;
  padding: 5px;
  border: 1px solid grey;
  border-radius: 5px;
}

.add-to-cart-btn:hover {
  background-color: rgb(199, 128, 128);
  color: white;
  transition: 0.3s;
}

.add-modal-inner {
  font-size: 20px;
  height: 100px;
  width: 150px;
  padding: 2%;
  padding-top: 4%;
  top: 30%;
  background-color: white;
  text-align: center;
  position: relative;
  margin: 0 auto;
  border: 1px solid whitesmoke;
  border-radius: 5px;
}

.add-modal-inner button {
  text-align: center;
  border: 1px solid rgb(148, 57, 57);
  border-radius: 8px;
  color: white;
  background-color: rgb(218, 127, 127);
  font-size: 16px;
  margin: 10px;
  padding: 4px 8px;
}

.add-modal-inner button:hover {
  cursor: pointer;
}

/* Show Page */

.item-show-container {
  display: flex;
  justify-content: center;
}

.item-show-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgba(228, 228, 228, 0.568);
  border: 1px solid black;
  margin: 20px;
  padding: 20px;
  width: 500px;
}

.image-container {
  margin: 20px;
}

.item-info-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.on-sale-now {
  color: red;
  font-weight: bold;
}

.item-info-container h3 {
  align-content: center;
  font-size: 22px;
  margin: 10px;
}

.item-info-container p {
  margin: 10px;
}

/* Cart */

.cart-page {
  display: flex;
  width: 100%;
}

.no-items-cart {
  text-align: center;
}

.cart-left {
  width: 70%;
  margin-right: 10%;
}

.cart-right {
  width: 30%;
  padding: 20px;
}

.cart-page h2 {
  text-align: center;
  margin: 20px;
}

.cart-items {
  border: 1px solid black;
}

.cart-item-hidden {
  display: none;
}

.cart-item {
  align-items: center;
  border: 1px solid grey;
  margin: 3%;
  padding: 20px;
  display: flex;
  justify-content: space-around;
}

.cart-item div {
  text-align: center;
}

.cart-page button {
  text-align: center;
  border: 1px solid rgb(148, 57, 57);
  border-radius: 8px;
  color: white;
  background-color: rgb(218, 127, 127);
  font-size: 20px;
  margin: 10px;
  padding: 8px;
}

#quantity-button {
  font-size: 16px;
  padding: 4px 8px;
}

.cart-page button:hover {
  cursor: pointer;
  background-color: rgb(194, 100, 100);
}

.order-summary h3 {
  text-decoration: underline;
  margin: 10px;
}

.order-summary p {
  margin: 10px;
}

.order-summary-hidden {
  display: none;
}

.modal-background {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(145, 145, 145, 0.5);
  z-index: 10;
}

.modal-inner {
  font-size: 16px;
  height: 200px;
  width: 500px;
  padding: 2%;
  padding-top: 4%;
  top: 30%;
  background-color: white;
  text-align: center;
  position: relative;
  margin: 0 auto;
  border: 1px solid whitesmoke;
  border-radius: 5px;
}

.modal-inner button {
  text-align: center;
  border: 1px solid rgb(148, 57, 57);
  border-radius: 8px;
  color: white;
  background-color: rgb(218, 127, 127);
  font-size: 16px;
  margin: 10px;
  padding: 4px 8px;
}

.modal-inner button:hover {
  cursor: pointer;
}

/* Confirmation */

.confirmation-summary h2 {
  margin: 10px;
}

.confirmation-summary p {
  margin: 10px;
}